{% extends "base.html" %}
{% load form_filters %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">

    <div class="card shadow-lg p-4" style="width: 350px; border-radius: 15px;">
        <h4 class="text-center mb-3">فراموشی رمز عبور</h4>
        <p class="text-muted text-center mb-4">ایمیل خود را وارد کنید تا لینک بازیابی ارسال شود.</p>

        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.email|add_class:"form-control" }}
            </div>
            <button class="btn btn-primary w-100">ارسال لینک</button>
        </form>

        <div class="text-center mt-3">
            <a href="{% url 'login' %}" class="text-decoration-none">بازگشت به صفحه ورود</a>
        </div>
    </div>

</div>
{% endblock %}
