{% extends "account/dashboard.html" %}

{% block content %}
<div class="container mt-4">

    <div class="row justify-content-center">
        <div class="col-md-6">

            <div class="card shadow-sm p-4 text-center" style="border-radius: 15px;">
                <h4 class="mb-3">رمز عبور با موفقیت تغییر کرد</h4>
                <p>رمز عبور جدید اکنون فعال است.</p>

                <a href="{% url 'account:dashboard' %}" class="btn btn-secondary mt-3 w-100">
                    بازگشت به داشبورد
                </a>
            </div>

        </div>
    </div>

</div>
{% endblock %}
