{% extends "base.html" %}
{% load form_filters %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">

    <div class="card shadow-lg p-4" style="width: 350px; border-radius: 15px;">

        <h4 class="text-center mb-4">تعیین رمز عبور جدید</h4>

        {% if validlink %}
        <form method="post">
            {% csrf_token %}

            <div class="mb-3">
                <label class="form-label">رمز عبور جدید</label>
                {{ form.new_password1|add_class:"form-control" }}
            </div>

            <div class="mb-3">
                <label class="form-label">تکرار رمز عبور</label>
                {{ form.new_password2|add_class:"form-control" }}
            </div>

            <button class="btn btn-success w-100">ذخیره رمز جدید</button>
        </form>

        {% else %}
        <div class="alert alert-danger text-center">
            لینک معتبر نیست یا منقضی شده است.
        </div>
        <a href="{% url 'password_reset' %}" class="btn btn-primary w-100">درخواست لینک جدید</a>
        {% endif %}

    </div>

</div>
{% endblock %}
