{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-4" dir="rtl">
    <!-- نمایش فقط آخرین پیام -->
        {% if messages %}
            {% for message in messages %}
                {% if forloop.last %}
                    <div class="alert alert-dismissible fade show
                    {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}"
                         role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
  <h3 class="mb-4 text-end">لیست مربیان</h3>

  <div class="row g-4">

    {% for coach in coaches %}
     {% if coach.enable == True %}
      <div class="col-md-4">
        <div class="card h-100 shadow-sm border-1">

          <div class="card-body text-end">

            <h5 class="card-title mb-1 fw-bold">{{ coach.user.username }}</h5>

            <!-- نمایش expansions -->
                    <p><strong>اکسپنشن‌ها:</strong>
                        {% for expansion in coach.expansions.all %}
                            {{ expansion.name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            ندارد
                        {% endfor %}
                    </p>

                    <!-- نمایش methods -->
                    <p><strong>نوع فعالیت‌ها:</strong>
                        {% for method in coach.methods.all %}
                            {{ method.name }}{% if not forloop.last %}, {% endif %}
                        {% empty %}
                            ندارد
                        {% endfor %}
                    </p>

            <p class="card-text mt-2" style="line-height: 1.8;">
              {{ coach.description|truncatewords:20 }}
            </p>

            <p class="mb-1"><strong>ساعت بازی:</strong> {{ coach.timeplay }}</p>



            <a href="{% url 'core:coach_detail' user=coach.user.username %}"
               class="btn btn-primary w-100 mb-2">
               مشاهده اطلاعات بیشتر
            </a>



          </div>

        </div>
      </div>
      {% endif %}
    {% endfor %}

  </div>

</div>
{% endblock %}
